V2 variables
APPLICATION_NAME="AppName"
COMPONENT_TYPE="Web"
ENVIRONMENT="Staging"
SHORT_REGION="Ew1"
DEPLOYMENT_REVISION="build-1234"
DEPLOYMENT_USER="pipe.user" -> Optional
NEW_RELIC_API_KEY="NRAK-***"

V1 variables
DEPLOYMENT_REVISION="build-123"
DEPLOYMENT_USER="pipe.user" -> Optional
NEW_RELIC_API_KEY="NRAK-***"
NEW_RELIC_APPLICATION_ID="1234"